acc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:nms:rtEvent" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:nms:rtEvent" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><types><s:schema elementFormDefault="qualified" targetNamespace="urn:nms:rtEvent"><s:complexType name="Element"><s:sequence><s:any processContents="lax"/></s:sequence></s:complexType><s:element name="PushEvent"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="domEvent" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="PushEventResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="plId" type="s:long"/></s:sequence></s:complexType></s:element><s:element name="PushEvents"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element
              maxOccurs="1" minOccurs="1" name="domEventCollection" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="PushEventsResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomIds" type="tns:Element"/></s:sequence></s:complexType></s:element></s:schema></types><message name="PushEventIn"><part element="tns:PushEvent" name="parameters"/></message><message name="PushEventOut"><part element="tns:PushEventResponse" name="parameters"/></message><message name="PushEventsIn"><part element="tns:PushEvents" name="parameters"/></message><message name="PushEventsOut"><part element="tns:PushEventsResponse" name="parameters"/></message><portType name="rtEventMethodsSoap"><operation name="PushEvent"><input message="tns:PushEventIn"/><output message="tns:PushEventOut"/></operation><operation name="PushEvents"><input message="tns:PushEventsIn"/><output message="tns:PushEventsOut"/></operation></portType><binding
    name="rtEventMethodsSoap" type="tns:rtEventMethodsSoap"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="PushEvent"><soap:operation soapAction="nms:rtEvent#PushEvent" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="PushEvents"><soap:operation soapAction="nms:rtEvent#PushEvents" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation></binding><service name="NmsRtEvent"><port binding="tns:rtEventMethodsSoap" name="rtEventMethodsSoap"><soap:address location="https://ac543.adobedemo.com/nl/jsp/soaprouter.jsp"/></port></service></definitions>
